<% include ./partials/Header.ejs %>
    <div class="bg-zinc-700 w-full h-screen text-white pt-1">
        <form id="fileupload" hidden action="/fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
        </form>
        <div class="flex flex-col items-center mt-14">
            <div class="relative">
                <span id="fileicon" class="w-7 h-7 rounded-full absolute bottom-0 right-0 flex items-center justify-center bg-zinc-400 cursor-pointer">
                    <i class="ri-pencil-fill"></i>
                </span>
                <div class="w-24 h-24 bg-white rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/upload/<%= user.profileImage%>" alt="">
                </div>
            </div>
                <p class="mt-1"><%= user.username %></p>
            <a href="" class="bg-zinc-500 rounded-md w-14 flex justify-center">Edit</a>
            <a href="/add" class="px-5 bg-red-600 rounded-lg text-xs py-1 mt-2">Add New Post</a href="/add">
        </div>
        <div class="flex flex-wrap mx-6 gap-2">
            <div>
                <div class="w-24 h-24 bg-zinc-200 rounded-md mt-14 overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/upload/<%= user?.posts[0]?.image %>" alt="image">
                </div>
                <a href="/show/pins" class="text-sm mt-2 bg-zinc-500 rounded-md inline-block px-5">All Pins</a href="/show/pins">
                <p class="text-xs opacity-50 pt-0"><%= user.posts.length %> Pins</p>
            </div>
        </div>
    </div>

    <script>
        document.querySelector("#fileicon").addEventListener("click", function(){
            document.querySelector("#fileupload input").click();
        })

        document.querySelector("#fileupload input").addEventListener("change",function(){
            document.querySelector("#fileupload").submit();
        })
    </script>
<% include ./partials/Footer.ejs %>